/node_modules
/app/Http/Controllers/Test
/resources/views/test
/resources/assets/js/components/Test.vue
/public/storage
/public/hot
/storage/*.key
/storage/uploads/collection/photo
/storage/uploads/collection/thumbnail
/storage/uploads/product/photo
/storage/uploads/product/thumbnail
/storage/uploads/profile/cover
/storage/uploads/profile/thumbnail
/storage/uploads/used/photo
/storage/uploads/used/thumbnail
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/.sass-cache
/bower_components
