@charset "UTF-8";
* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, Athiti, sans-serif;
  height: 100%;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  position: relative;
  margin: 0;
  min-height: 100%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

button {
  font-family: Roboto, Athiti, sans-serif;
  outline: none !important;
  cursor: pointer;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: default;
}

#app {
  position: relative;
  margin: 0;
  min-height: 100%;
}

div, input {
  outline: none
}

footer {
  height: 100px
}

a {
  outline: none
}

label {
  display: inline-block;
  text-align: left;
  margin-bottom: 10px;
  color: #6c6c6c;
  font-weight: 600;
}

.has-error {
  color: #ff3333;
}

.help-block {
  margin-top: 10px;
  display: block;
}

.submit-group {
  width: 100%;
}

.checkbox {
  width: 100%;
}

.login-btn {
  font-size: 1em;
  position: relative;
  width: 100%;
  height: 30px;
  margin-top: 15px;
  background-color: #efefef;
  border: transparent;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.login-btn:hover {
  background-color: #ff992d;
  color: #ffffff;
}

.forgot-password {
  color: black;
  display: table;
  text-decoration: none;
  margin: 15px auto 0 auto;
}

.forgot-password:hover {
  color: #ff992d;
}

.thumbnail-grid {
  display: grid;
  width: 100%;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  justify-items: center;
}

.my-products-wrap {
  width: 160px;
  height: 200px;
  display: inline-block;
  position: relative;
  border: none;
}

.products-wrap {
  width: 160px;
  height: 160px;
  display: inline-block;
  border: 1px solid transparent;
}

.my-products-wrap form, .products-wrap form {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.product-name {
  display: none
}

.product-p {
  display: none
}

.products-img {
  position: relative;
  width: 160px;
  height: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.thumb-title {
  width: 100%;
  height: 40px;
  padding: 10px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
}

.thumb-title a {
  text-decoration: none;
  color: #ffffff;
}

@media (min-width: 768px) {
  .thumbnail-grid {
    display: grid;
    width: 100%;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-items: center;
  }
  .my-products-wrap {
    width: 200px;
    height: 360px;
    display: inline-block;
    position: relative;
    border: none;
  }
  .products-wrap {
    width: 200px;
    height: 300px;
    display: inline-block;
    border: 1px solid transparent;
  }
  .product-name {
    display: block;
    width: 180px;
    height: 41px;
    line-height: 20px;
    margin: 5px 0 2px 0;
    word-wrap: break-word;
    overflow: hidden;
  }
  .product-p {
    display: block;
    font-family: 'Roboto', 'Arial';
    font-size: .9em;
    line-height: 17px;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .products-img {
    position: relative;
    width: 200px;
    height: 200px;
  }
}

span.price {
  font-family: 'Roboto';
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  color: #fff;
  padding: 5px;
  bottom: 10px;
  left: 0;
}

span.thumb-price {
  font-family: 'Roboto';
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  color: #fff;
  padding: 5px;
  bottom: 10px;
  left: 0;
}

span.discount {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  background: #4aae2a;
  color: white;
  opacity: 0.8;
}

span.discount-price {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px;
  background: #4aae2a;
  color: white;
  opacity: 0.8;
}

span.caution, button.caution {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px;
  background: #fdc930;
}

span.private {
  position: absolute;
  padding: 4px;
  top: 5px;
  left: 5px;
  color: #6c6c6c;
  background-color: transparent;
}

span.shop {
  font-family: 'Roboto';
  background-color: rgba(0, 0, 0, 0.05);
  position: absolute;
  padding: 4px;
  top: 89px;
  left: 0;
  color: #167ac6;
}

@media (min-width: 768px) {
  span.private {
    padding: 4px;
    top: inherit;
    color: #fff;
    bottom: 4px;
    left: 0;
    background-color: #ff514c;
  }
  span.price {
    display: none
  }
  span.shop {
    display: none
  }
}

.products-img-thumb {
  width: 100%;
}

.pagination-wrap {
  width: 100%;
  height: 70px;
  padding: 12px;
}

.pagination {
  list-style-type: none;
  margin: 0;
}

.pagination li {
  float: left;
  padding: 8px;
  border: 1px solid #f2f2f2;
  text-decoration: none;
  font-size: 1.5em;
}

.pagination li a {
  text-decoration: none;
  color: #b5b5b5;
}

.pagination li a:hover {
  color: #ff8300;
  font-weight: bold;
}

.pagination li:hover {
  color: #ff8300;
  font-weight: bold;
}

.active {
  color: #ff8300 !important;
  font-weight: bold;
}

.shop-wrap {
  float: left;
  height: 100px;
  width: calc(100% - 200px);
  padding: 10px;
}

.following-btn-wrap {
  height: 40px;
  float: right;
  margin: 30px 0px;
}

.shop-description {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 10px;
}

/*ERROR*/

.error-heading {
  padding: 10px 15px 10px 15px;
  background-color: transparent;
}
.not-display {
  display: none;
}

/*INPUT*/

.s-input {
  height: 40px;
  width: 80px;
  border: none;
  background-color: #f2f2f2;
  padding-left: 10px;
  outline: none;
  font-size: 15px;
}

.s-input:focus {
  background-color: rgba(242, 242, 242, 0.5);
  transition: all 0.5s ease;
}

.s-select {
  outline: none;
  height: 40px;
  width: 80px;
  font-size: 18px;
}

/*Tab nav*/

.tab-nav {
  width: 100%;
  border-bottom: 1px solid #efefef;
}

.tab-nav-ul {
  padding: 0;
  margin: 0;
  display: grid;
  width: 100%;
  grid-gap: 10px;
  grid-template-columns: repeat(4, minmax(60px, 1fr));
  justify-items: center;
}

.tab-nav-ul button {
  height: 50px;
  color: #6c6c6c;
  border: none;
  background-color: #ffffff;
  font-size: 1em;
}

.tab-nav-ul button font {
  display: none
}

.tab-nav-ul button span {
  display: block;
  font-size: 2em;
}

.tab-nav-btn.current, .tab-nav-btn.static.current {
  color: #ff8000 !important;
  font-weight: 600;
}

@media (min-width:768px) {
  .tab-nav-ul {
    display: block;
    padding-left: 40px;
    margin: 0
  }
  .tab-nav-ul button font {
    display: block
  }
  .tab-nav-ul button span {
    display: none
  }
  .tab-nav-btn.static {
    min-width: 100px !important;
    margin-right: 40px !important;
  }
  .tab-nav-btn.current, .tab-nav-btn.static.current {
    color: #ff8000 !important;
    border-bottom: 3px solid #ff8000;
    font-weight: 600;
  }
}

.tab-nav-btn:hover {
  color: #ff8000;
}

/*Button*/

.btn {
  border: transparent;
  color: #6c6c6c;
  font-size: 15px;
  background: #efefef;
  padding: 10px 20px;
  text-decoration: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  color: #ffffff;
  background: #bebebe;
}

.green-btn {
  border: transparent;
  color: #ffffff;
  font-size: 15px;
  background: #4aae2a;
  padding: 10px 20px;
  text-decoration: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.green-btn:hover {
  opacity: 0.8;
}

.delete-btn {
  border: none;
  color: #ffffff;
  font-size: 15px;
  background: #ff514c;
  padding: 10px;
}

.delete-btn:hover {
  opacity: 0.8
}

.add-btn {
  border: none;
  color: #ffffff;
  font-size: 15px;
  background: #4aae2a;
}

.add-btn:hover {
  opacity: 0.8;
}

.edit-btn {
  border: none;
  color: #ffffff;
  font-size: 15px;
  background: #b8b8b8;
  padding: 10px;
}

.edit-btn:hover {
  opacity: 0.8
}

.vote-btn {
  text-decoration: none;
  color: #b3b3b3;
}

span.contact-btn, small.contact-btn {
  position: relative;
  cursor: pointer;
  -moz-background-clip: border;
  -moz-background-inline-policy: continuous;
  -moz-background-origin: padding;
  font-size: 1.8em;
  top: 10px;
}

span.contact-btn.instagram, small.contact-btn.instagram {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  border-radius: 15px;
  color: #fff;
}

span.contact-btn.facebook, small.contact-btn.facebook {
  color: #316fbb
}

span.contact-btn.youtube, small.contact-btn.youtube {
  color: #f00
}

span.contact-btn.phone, small.contact-btn.phone {
  color: #34a853
}

span.contact-btn.mail, small.contact-btn.mail {
  color: #4285f4
}

span.contact-btn.twitter, small.contact-btn.twitter {
  color: #41abe1
}

span.contact-btn.website, small.contact-btn.website {
  color: #167ac6
}

span.contact-btn.line, small.contact-btn.line {
  color: #4ecd00
}

.round-btn {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
}

.round-btn:hover {
  opacity: 0.8 !important;
}

.round-btn span, .round-btn small, .contact-btn span, .contact-btn small {
  color: #ffffff;
}

.vote-btn:hover {
  color: #e43727;
}

.vote-btn-voted {
  color: #e43727;
}

.alert-box {
  color: #555;
  border-radius: 10px;
  font-size: 14px;
  padding: 10px;
  margin: 8px;
}

.alert-box span {
  font-size: 1.5em;
}

.alert-box.warning {
  background-color: #fff8c4;
  border: 1px solid #f2c779;
}

.alert-box.success {
  background-color: #e9ffd9;
  border: 1px solid #a6ca8a;
}

.alert-box.error {
  background-color: #ffecec;
  border: 1px solid #f5aca6;
}

.alert-box.info {
  background-color: #eef8ff;
  border: 1px solid #8bcdff;
}

/*Properties*/

.absolute {
  position: absolute !important;
}

.relative {
  position: relative !important;
}

.margin-bot-10px {
  margin-bottom: 10px !important;
}

.margin-top-10px {
  margin-top: 10px !important;
}

.margin-left-10px {
  margin-left: 10px !important;
}

.no-margin {
  margin: 0 !important;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.font-light {
  font-weight: 200 !important;
}

.font-medium {
  font-weight: 400 !important;
}

.font-bold {
  font-weight: 600 !important;
}

.font-large {
  font-size: large !important;
}

.grey-font {
  color: #6c6c6c !important;
}

.red-bg {
  background-color: #fe4747 !important;
}

.red-font {
  color: #fe4747 !important;
}

.green-bg {
  background-color: #4aae2a !important;
}

.green-font {
  color: #4aae2a !important;
}

.link-text {
  color: #167ac6;
  text-decoration: none;
  font-size: 1em;
  font-weight: 400;
  cursor: pointer;
}

.link-text:hover {
  color: #0a92f9;
}

.link-text.grey {
  color: #6c6c6c;
  text-decoration: none;
}

.link-text.grey:hover {
  opacity: 0.8;
}

.flex {
  flex-shrink: 0;
  display: flex;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  justify-content: center;
}

@media (min-width: 768px) {
  .flex {
    justify-content: flex-start;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.overlay-open {
  width: 100%;
  opacity: 1;
}

#full-line {
  width: 100%;
  border-bottom: 1px solid #efefef;
}

.opacity-toggled {
  opacity: 1 !important;
}

.height-toggled {
  height: 100% !important;
}

/* Validate */

input.is-error {
  border-bottom: 3px solid red;
}

.span-error {
  margin-top: 10px;
  color: red;
}

/*Animate*/

.slide-down-enter-active, .slide-down-leave-active {
  transition: all 0.5s ease;
  height: 260px;
}

.slide-down-enter, .slide-down-leave-to {
  opacity: 0;
  height: 0px;
}

.slide-down-reply-enter-active, .slide-down-reply-leave-active {
  transition: all 0.5s ease;
  height: 90px;
}

.slide-down-reply-enter, .slide-down-reply-leave-to {
  opacity: 0;
  height: 0px;
}

.opacity-enter-active, .opacity-leave-active {
  transition: all 0.5s ease;
  opacity: 1;
}

.opacity-enter, .opacity-leave-to {
  opacity: 0;
}

.slide-down-input-enter-active, .slide-down-input-leave-active {
  transition: all 0.5s ease;
  height: 68px;
}

.slide-down-input-enter, .slide-down-input-leave-to {
  opacity: 0;
  height: 0px;
}

.slide-down-col-enter-active, .slide-down-col-leave-active {
  transition: all 0.5s ease;
  height: 50px;
}

.slide-down-col-enter, .slide-down-col-leave-to {
  opacity: 0;
  height: 0px;
}

.slide-down-height-enter-active, .slide-down-height-leave-active {
  transition: all 0.5s ease;
  height: auto;
}

.slide-down-height-enter, .slide-down-height-leave-to {
  opacity: 0;
  height: 0px;
}

.slide-down-showcase-enter-active, .slide-down-showcase-leave-active {
  transition: all 0.5s ease;
  height: 175px;
}

.slide-down-showcase-enter, .slide-down-showcase-leave-to {
  opacity: 0;
  height: 0px;
}

@media (min-width: 768px) {
  .current-contact td input {
    width: calc(100% - 100px);
  }
}

.current-contact td input:focus {
  transition: all 0.5s ease;
  border-left: 3px solid #ff8300;
}
nav {
  width: 100%;
  height: 50px;
  background-color: white;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.nav-container {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .nav-container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .nav-container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .nav-container {
    width: 95%;
  }
}

.login-box {
  display: none;
}

.login-box li {
  display: inline-block;
  list-style: none;
}

.login-box li a {
  color: #1782cf;
}

.login-box li a:hover {
  color: #3fa9f5;
}

@media (min-width: 768px) {
  .login-box {
    display: flex;
    position: relative;
    height: 50px;
    float: right;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  background-color: #fff;
  color: #b5b5b5;
  width: 50px;
  height: 50px;
  font-size: 1em;
  border: none;
}

.dropdown-btn:hover {
  color: #ff8000;
}

.dropdown-name {
  width: 240px;
  color: #6c6c6c;
  background-color: #efefef;
  padding: 12px 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

.dropdown-content {
  position: absolute;
  background-color: #ffffff;
  min-width: 240px;
  z-index: 1;
  right: 0;
}

.dropdown-content a, .dropdown-content li {
  display: block;
  color: #6c6c6c;
  padding: 12px 16px;
  margin: 0;
  cursor: pointer;
}

.dropdown-content a:hover, .dropdown-content li:hover {
  background-color: #f7f7f7;
}

.toggled-list {
  border-right: 3px solid #ff8000;
  background-color: #f7f7f7;
}

.nested {
  background-color: #f2f2f2;
}

.side-menu-btn {
  float: left;
  width: 30px;
  height: 20px;
  position: relative;
}

.main-logo {
  background: url("https://s3-ap-southeast-1.amazonaws.com/images.closet.com/logo1.png");
  width: 100px;
  height: 50px;
  margin: 0 auto;
  float: none;
}

.main-logo a {
  display: block;
  width: 100%;
  height: 50px;
}

@media (min-width: 768px) {
  .main-logo {
    float: left;
  }
}
/*Second Nav */

.second-nav {
	position: relative;
	width: 100%;
	margin-top: 50px;
	height: 40px;
	background-color: white;
	border-bottom: 1px solid #eeeeee;
	margin-bottom: 20px;
}
.second-nav-cont {
    display: flex;
    width: 100%;
    height: 40px;
    margin: 0 auto;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
    justify-content: space-between;
}
@media (min-width: 768px) {
	.second-nav-cont {
    display: flex;
    width: 500px;
    height: 40px;
    margin: 0 auto;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
    justify-content: space-between;
	}
}
#second-nav-link {
	width: 20%;
	height: 40px;
}
#second-nav-link a {
	display: table;
	text-align: center;
	text-decoration: none;
	color: black;
	vertical-align: middle;
	line-height: 37px;
	margin: 0 auto;
}
#second-nav-link a:hover {
	color: #ff8000;
	border-bottom: 2px solid #ff8000;
}
#second-nav-link a:focus {
	border-bottom: 2px solid #ff8000;
}

/*Side bar */

.left-side-menu {
	position: fixed;
	height: 100%;
	width: 0;
	left: 0;
	background-color: white;
	border-right: 1px solid #efefef;
	top: 50px;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 9999;
}
.toggled{
	width: 100%;
}
@media (min-width: 768px) {
	.left-side-menu {
	position: fixed;
	height: 100%;
	width: 0;
	background-color: white;
	border-right: 1px solid #efefef;
	top: 50px;
	z-index: 9999;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	}
	.toggled{
	width: 240px;
	}
}
.scroll-bar {
  overflow-y: auto;
}
.left-side-menu::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}
.left-side-menu::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}
.left-side-menu::-webkit-scrollbar-thumb {
	background: #ff8000;
	border: 0px none #ffffff;
	border-radius: 0px;
}
.left-side-menu::-webkit-scrollbar-thumb:hover {
	background: #ff8000;
}
.left-side-menu::-webkit-scrollbar-thumb:active {
	background: #ff8000;
}
.left-side-menu::-webkit-scrollbar-track {
	background: #ffffff;
	border: 0px none #ffffff;
	border-radius: 0px;
}
.left-side-menu::-webkit-scrollbar-track:hover {
	background: #ffffff;
}
.left-side-menu::-webkit-scrollbar-track:active {
	background: #ffffff;
}
.left-side-menu::-webkit-scrollbar-corner {
	background: transparent;
}
.sub-left-menu {
	position: relative;
	width: 100%;
	height: calc(100% - 50px);
	padding: 18px;
	display: block;
}
.sub-left-menu a {
	overflow: hidden;
	font-size: 1.2em;
	color: #6c6c6c;
	padding: 10px 0px 10px 12px;
	text-decoration: none;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.sub-left-menu a:hover {
	background-color: #f7f7f7;

}
#cat {
	overflow: hidden;
	font-size: 1.2em;
	color: #ff8000;
	margin: 5px 0px 5px 0px;
	padding: 10px 0px 0px 12px;
	display: block;
	text-decoration: underline;
}
#cat:hover {
	text-decoration: underline;
	background-color: transparent;
}
#alt-cat{
    overflow: hidden;
    font-size: 1.2em;
    color: #6c6c6c;
    font-weight: 600;
    margin: 0;
    padding: 10px 0 10px 12px;
    text-decoration: none;
    display: block;
}
.sub-menu-search-bar{
	display: block;
	width: 100%;
	height: 70px;
}
.sub-search-input {
	line-height: 54px;
    border: 1px solid #b5b5b5;
    width: calc(100% - 50px);
    outline: none;
    padding-left: 10px;
    font-size: 1.2em;
}
.sub-search-btn{
    width: 55px;
    height: 58px;
    border: 1px solid #b5b5b5;
    border-left: none;
    position: absolute;
    background-color: #f2f2f2;
    font-size: 1.2em;
    color: #858589;
}
.lang-input{
	width: 100%;
	font-size: medium;
	height: 40px;
	outline: none;
	padding: 5px;
}
@media (min-width: 768px) {
	.sub-menu-search-bar{display: none;}
	.sub-left-menu {
	position: relative;
	width: 192px;
	margin: 10px 24px 0px 24px;
	padding: 0;
	}
	.sub-left-menu a {
	font-size: 1em;
	}
	#cat {
	font-size: 1em;
	color: #ff8000;
	text-decoration: none;
	}
	#alt-cat {
	font-size: 1em;
	color: #6c6c6c;
	text-decoration: none;
	}
	.lang-input{
		width: 100%;
	}
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?76p8pg');
  src:  url('fonts/icomoon.eot?76p8pg#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?76p8pg') format('truetype'),
    url('fonts/icomoon.woff?76p8pg') format('woff'),
    url('fonts/icomoon.svg?76p8pg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrows-up:before {
  content: "\e900";
}
.icon-arrows-down:before {
  content: "\e901";
}
.icon-prev-arrow:before {
  content: "\e902";
}
.icon-next-arrow:before {
  content: "\e903";
}
.icon-home:before {
  content: "\e904";
}
.icon-line:before {
  content: "\e905";
}
.icon-silhouette:before {
  content: "\e906";
}
.icon-images:before {
  content: "\e90e";
}
.icon-price-tag:before {
  content: "\e935";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-credit-card:before {
  content: "\e93f";
}
.icon-phone:before {
  content: "\e942";
}
.icon-pin:before {
  content: "\e946";
}
.icon-location:before {
  content: "\e947";
}
.icon-bell:before {
  content: "\e951";
}
.icon-bubble:before {
  content: "\e96e";
}
.icon-user:before {
  content: "\e971";
}
.icon-refresh:before {
  content: "\e984";
}
.icon-search:before {
  content: "\e986";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-cog:before {
  content: "\e994";
}
.icon-fire:before {
  content: "\e9a9";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-truck:before {
  content: "\e9b0";
}
.icon-website:before {
  content: "\e9ca";
}
.icon-bookmark:before {
  content: "\e9d2";
}
.icon-bookmarks:before {
  content: "\e9d3";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-heart-broken:before {
  content: "\e9db";
}
.icon-warning:before {
  content: "\ea07";
}
.icon-notification:before {
  content: "\ea08";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-mail:before {
  content: "\ea83";
}
.icon-facebook:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-pinterest:before {
  content: "\ead1";
}
.icon-shop:before {
  content: "\1f339";
}
.icon-order:before {
  content: "\e9bb";
}
.icon-private:before {
  content: "\e9d1";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-map:before {
  content: "\e94c";
}
.icon-login-dropdown:before {
  content: "\e971 \e901";
}

.product-title {
    font-size: 1.3em;
    color: #262626;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.product-showcase {
    background-color: transparent;
    width: 100%;
    height: 100%;
    margin: 0 15px 15px 15px;
}
.product-details {
    width: 100%;
    height: auto;
}
.details-header {
    width: 100%;
    height: 70px;
    padding: 10px 15px;
    border-bottom: .5px solid #efefef;
}
.details-header-sub {
    width: 100%;
    height: 45px;
    border-bottom: .5px solid #efefef;
}
.follow-btn-wrapper{
    float: right;
    height: 100%;
    width: 100px;
    z-index: 1500;
}
.follow-btn-wrap{
    float: right;
    height: 100%;
    width: 100%;
    z-index: 1500;
}
.follow-btn {
    height: 100%;
    width: 100%;
    color: #ffffff;
  background: #ff8300;
  border: transparent;
  font-size: 15px;
  font-weight: 600;
    outline: none;
    border-radius: 5px;
}
.unfollow-btn {
    height: 100%;
    width: 100%;
    color: #6c6c6c;
    background: #f2f2f2;
    border: transparent;
    font-size: 15px;
    font-weight: 600;
    outline: none;
    border-radius: 5px;
}
.vote {
    width: 120px;
    height: 24px;
    font-size: 20px;
    padding: 10px 15px;
    float: left;
}
#col-add{
    float: right;
    position: relative;
    display: inline-block;
}

.add-to-col{
    font-weight: 600;
    background-color: #ffffff;
    height: 45px;
    color: #6c6c6c;
    padding: 0px 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    outline: none;
    border-bottom: 1px solid #efefef;
}
.add-to-col-active{
    background-color: #efefef;
}
.col-add{
    position: absolute;
    background-color: #ffffff;
    min-width: 240px;
    box-shadow: 0px 5px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 20px 2px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(178, 178, 178, 0.4);
    z-index: 1;
    right: 0;
}
.col-add ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    max-height: 210px;
    overflow-y: auto;
    overflow-x: hidden;
}
.col-add li{
    list-style-type: none;
}

.col-add ul li a{
    cursor: pointer;
    color: #6c6c6c;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.col-add ul li a:hover{
    background-color: #f7f7f7;
}
.added{
    background-color: #f7f7f7;
}
.added::after{
    content: " \ea10";
    font-family: 'icomoon' !important;
    line-height: 1px;
}
.thumb {
    position: absolute;
    width: 280px;
    line-height: 50px;
    height: 50px;
}
.thumb img{
  float: left;
  width: 50px;
  border-radius: 100%;
}
.shop-name {
    font-size: 1.2em;
    vertical-align: top;
    padding-left: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #262626;
}
.shop-name:hover {
    color: #167ac6;
}
.shop-name-wrap {
    width: 180px;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tab-content {
    display: none;
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    height: auto;
    background-color: #fff;
}
.tab-content.current{
    display: inherit;
}
.comments-header{
    width: 100%;
    height: 55px;
    padding: 1px 15px;
    border-bottom: 1px solid #efefef;
}
.product-show-panel {
    width: 100%;
    margin: 0 auto;
    height: auto;
    background-color: #fff;
}
.comments-thumb{
	width: 40px;
float: left;
margin-right: 10px;
}
.comments-body{
	width: calc(100% - 50px);
	display: inline-block;
}
.comment{
  font-family: 'Arial';
	word-wrap: break-word;
	margin: 5px 0px;
}
/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .product-show-panel { width: 768px;}
    .product-showcase {
        width: 380px;
        margin:0;
    }
    .product-details {
        width: 388px;
    }
}
/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .product-show-panel {
    width: 900px;
}
    .product-showcase {
        width: 445px;
        margin: 0 15px 15px 15px;
    }
    .product-details {
        width: 410px;
        margin-right: 15px;
    }
}
/* Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .product-show-panel {
    width: 1024px;
}
    .product-showcase {
        width: 535px;
        margin: 0 15px 15px 15px;
    }
    .product-details {
        width: 426px;
        margin-left: 9px;
        margin-right: 24px;
    }
}

.shop-header {
  width: 100%;
  height: 170px;
  padding: 10px 15px 10px 15px;
  background-color: #fff;
  border-bottom: 1px solid #f2f2f2;
}

.cover-wrap {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #ffffff;
}

.shop-cover {
  max-width: 100%;
  height: auto;
  background-color: transparent;
}

.setting-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 5px 15px;
  background-color: #f7f7f7;
  border: 1px solid #f2f2f2;
  outline: none;
}

.setting-btn:hover, .setting-btn:focus {
  background-color: rgba(45, 45, 45, 0.5);
  border: 1px solid rgba(45, 45, 45, 0.5);
  color: #ffffff;
}

.name-wrap {
  min-width: 100%;
  max-width: 100%;
  height: 30px;
}

.profile-thumbnail {
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile-thumbnail-input {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: relative;
  background-color: #efefef;
}

.profile-thumbnail-input img {
  position: absolute;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.profile-thumbnail-input span {
  font-size: 2em;
  padding: 34px 32px;
  position: absolute;
  color: #6c6c6c;
}

.shop-wrapper {
  margin-top: 10px;
  width: calc(100% - 100px);
}

.shop-follow-btn {
  width: 100%;
  height: 30px;
  margin: 10px 0 0 20px;
}

.shop-header-wrap {
  flex-shrink: 0;
  display: flex;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  justify-content: flex-start;
}

.shop-vote {
  width: 100%;
  height: 120px;
  padding: 10px 15px 10px 15px;
}

.shop-name-link {
  padding-left: 20px;
  margin: auto;
  font-size: 29px;
  vertical-align: top;
  text-decoration: none;
  font-weight: 400;
  color: #262626;
  overflow: hidden;
  text-overflow: ellipsis;
}

.border {
  border: 10px solid transparent;
}

.p-carousel-margin {
  margin-right: 10px;
}

.add-col-panel {
  width: 100%;
  height: auto;
  margin-top: 15px;
  padding: 15px;
  position: relative;
}

.col-input {
  border: 1px solid transparent;
  background-color: #f9f9f9;
  border-bottom: 3px solid #b5b5b5;
  line-height: 40px;
  width: 100%;
  outline: none;
  padding-bottom: 2px;
  font-size: 18px;
}

.col-input:focus {
  background-color: #ffffff;
  border-bottom: 3px solid #ff8000;
  transition: all 0.30s;
}

.col-select {
  border: 1px solid #b5b5b5;
  height: 40px;
  width: 100%;
  outline: none;
  font-size: 18px;
  margin-bottom: 40px;
}

.col-submit {
  cursor: pointer;
  width: 100%;
  height: 40px;
  background-color: #ff8300;
  border: none;
  font-weight: 600;
  color: white;
  font-size: 15px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  .medium-panel {
    width: 768px;
  }
  .shop-header {
    width: calc(100% - 240px);
    height: 120px;
    border: none;
  }
  .profile-thumbnail {
    width: 100px;
    height: 100px;
  }
  .shop-wrapper {
    width: calc(100% - 130px);
  }
  .cover-wrap {
    height: 220px;
  }
  .name-wrap {
    max-width: calc(100% - 100px);
    min-width: 100px;
    height: 30px;
  }
  .shop-follow-btn {
    max-width: 100px;
    min-width: 100px;
    height: 100%;
    margin: 0;
  }
  .profile-thumbnail {
    margin-left: 30px;
  }
  .shop-name-link {
    padding: 0 10px 0 40px;
  }
  .shop-vote {
    width: 240px;
    height: 120px;
  }
  .add-col-panel {
    width: 400px;
    height: auto;
    margin-top: 15px;
    padding: 15px;
    position: relative;
  }
  .add-col-panel ul {
    margin: 0;
  }
  .col-input {
    border: 1px solid transparent;
    background-color: #f9f9f9;
    border-bottom: 3px solid #b5b5b5;
    line-height: 40px;
    width: 350px;
    outline: none;
    padding-left: 10px;
    padding-bottom: 2px;
    font-size: 18px;
  }
  .col-select {
    position: absolute;
    border: 1px solid #b5b5b5;
    height: 40px;
    width: 120px;
    outline: none;
    padding-left: 10px;
    margin: 0 0px 0 100px;
    font-size: 18px;
  }
  .col-submit {
    width: 110px;
    margin-left: 160px;
    position: absolute;
    right: 35px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  }
}

@media (min-width: 992px) {
  .cover-wrap {
    height: 264px
  }
}

@media (min-width: 1200px) {
  .cover-wrap {
    height: 315px
  }
}

.name-wrap a {
  vertical-align: -webkit-baseline-middle;
}

.shop-name-link-wrap {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  justify-content: flex-start;
}

.description-heading {
  margin: 0;
  padding-left: 10px;
}

/*VOTES*/

.add-col-btn {
  width: 150px;
  height: 40px;
  background-color: hsl(0, 0%, 93.3%);
  margin: 0 0 10px 15px;
  outline: none;
  font-weight: 600;
  font-size: 15px;
  border: none;
  cursor: pointer;
  color: hsla(0, 0%, 6.7%, .6);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.col-flex {
  flex-shrink: 0;
  display: flex;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  justify-content: flex-start;
}

#add-collection {
  border-bottom: 1px solid #f2f2f2;
}

.col-name {
  width: 200px;
  height: 41px;
  line-height: 20px;
  margin: 0;
  padding: 5px 2px 2px 5px;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
}
.image-input{
	width: 200px;
	height: 200px;
	overflow: hidden;
	position: relative;
	background-color: #efefef;
}
.image-input span{
	font-size: 2em;
	padding: 84px 82px;
	position:absolute;
	color: #6c6c6c;
}
.image-input img{
    position: absolute;
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.image-file-input{
	position: relative;
    width: 150px;
    height: 40px;
    background-color: hsl(0, 0%, 93.3%);
    margin: 0 0 10px 15px;
    outline: none;
    font-weight: 600;
    font-size: 15px;
    border: none;
    color: hsla(0, 0%, 6.7%, .6);
    box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.image-file-input:hover{
	background-color: #ff8000;
}
.image-input-input{
    display: block;
    min-height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    text-align: right;
}
.full-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.col-photo-submit{
    cursor: pointer;
    width: 100%;
    height: 40px;
    background-color: #ff8300;
    border: none;
    margin-top: 25px;
    font-weight: 600;
    color: white;
    font-size: 15px;
    box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.col-edit-panel{
    width: 100%;
    height: auto;
    margin-top: 15px;
    padding: 15px;
    position: relative;
}
.col-edit-panel td{
	border: none;
}
.col-edit-input{
    border: 1px solid transparent;
    background-color: #f9f9f9;
    border-bottom: 3px solid #b5b5b5;
    line-height: 40px;
    width: 100%;
    outline: none;
    padding: 0 0 2px 10px;
    font-size: 18px;
}
.col-edit-input:focus{
    background-color: #ffffff;
    border-bottom:3px solid #ff8000;
    transition: all 0.30s;
}
.col-product-edit{
    position: relative;
    width: 100%;
    height: 130px;
    padding: 5px 15px;
}
.col-product-edit div{
    position: absolute;
    top: 5px;
    left: 150px;
    height: 120px;
}
.col-product-edit div h4{
    width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.col-product-img{
    width: 120px;
    height: 120px;
}
@media (min-width: 768px) {
    .col-photo-submit{
        width: 110px;
    }
    .col-edit-panel button{
        right: 15px;
    }
}
@media (min-width: 992px) {
    .col-edit-panel{
    width: 440px;
    }
}
@media (min-width: 1200px) {
    .col-edit-panel{
    width: 564px;
    }
}

/* Collection show */
.col-carousel {
    padding: 0;
}
@media (min-width: 768px) {
    .col-carousel {
        width: 100%;
    }
}
@media (min-width: 1024px) {
    .col-carousel {
				margin: 0 auto;
        width: 768px;
        height: 432px;
    }
}
.create-col{
    background-color: #ffffff;
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border: none;
    color: #6c6c6c;
}
.create-col:hover{
    color: #ff8300;
}

.toast-title {
  font-weight: bold;
}
.toast-message {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.toast-message a,
.toast-message label {
  color: #ffffff;
}
.toast-message a:hover {
  color: #cccccc;
  text-decoration: none;
}
.toast-close-button {
  position: relative;
  float: right;
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
  -webkit-text-shadow: 0 1px 0 #ffffff;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
}
.toast-close-button:hover,
.toast-close-button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}
/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
.toast-top-center {
  top: 100px;
  right: 0;
  width: 100%;
}
.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}
.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}
.toast-top-left {
  top: 12px;
  left: 12px;
}
.toast-top-right {
  top: 100px;
  right: 12px;
}
.toast-bottom-right {
  right: 12px;
  bottom: 12px;
}
.toast-bottom-left {
  bottom: 12px;
  left: 12px;
}
#toast-container {
  position: fixed;
  z-index: 999999;
  /*overrides*/

}
#toast-container * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 40px;
}
#toast-container > div {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 10px 10px 10px 50px;
  width: 300px;
  -moz-box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
}
#toast-container > div:hover {
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  cursor: pointer;
}

#toast-container.toast-top-center > div,
#toast-container.toast-bottom-center > div {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
#toast-container.toast-top-full-width > div,
#toast-container.toast-bottom-full-width > div {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}
.toast {
  background-color: #efefef;
}
.toast-success {
  background-color: #51a351;
}
.toast-error {
  background-color: #bd362f;
}
.toast-info {
  background-color: #3094ea;

}
.toast-warning {
  background-color: #ffcc00;
}
.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #000000;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}

/*Responsive Design*/
@media all and (max-width: 240px) {
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 11em;
  }
  #toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 241px) and (max-width: 480px) {
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 18em;
  }
  #toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}
@media all and (min-width: 481px) and (max-width: 768px) {
  #toast-container > div {
    padding: 15px 15px 15px 50px;
    width: 25em;
  }
}

/*.category-wrap{
	position: relative;
	width: 200px;
	height: 200px;
	margin:2px;
	background-color: burlywood;
}
.category-name-wrap{
    width: 200px;
    height: 41px;
    line-height: 20px;
    margin: 0;
    padding: 5px 10px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}
@media (min-width: 768px) {
	.category-wrap {
	    width: 242px;
	    height: 242px;
	}
}
@media (min-width: 992px) {
	.category-wrap {
	    width: 292px;
	    height: 292px;
	}
}
@media (min-width: 1200px) {
	.category-wrap {
	    width: 318px;
	    height: 318px;
	}
}
*/
.category-nav{
	width: 100%;
	padding: 0;
	margin: 0;
	height: 0px;
	visibility: hidden;
	border-bottom: 1px solid #efefef;
}
.category-opened{
	height: 300px;
	visibility: visible;
	margin-top: 10px;
}
.category-nav a{
	    width: 250px;
			height: 40px;
			overflow: hidden;
    font-size: 1.2em;
    color: #6c6c6c;
    padding: 15px 0px 15px 12px;
    text-decoration: none;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.category-nav a:hover{
	text-decoration: underline;
	color: #ff8300;
}
.category-nav-btn{
		height: 48px;
    border: none;
    outline: none;
    color: #6c6c6c;
    font-weight: 600;
    font-size: 1em;
    margin-right: 40px;
    background-color: #ffffff;
    cursor: pointer;
		padding: 0 30px;
}
.clicked{
		color: #ff8300;
}
.category-nav-btn:hover{
		color: #ff8300;
}
.category-carousel{
	width:100%;
	height:auto;
	padding: 15px 70px;
}
@media (min-width: 768px) {
	.category-nav a{
	    font-weight: 600;
	    font-size: 1em;
			padding: 10px;
	}
	.category-carousel{
	padding: 15px;
	}
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}

.filter button{border: transparent;font-size: 15px;background: #ffffff;padding: 10px 20px;}
.filter button:hover{color: #ff8000;}
.filter-option{
  width: 100%;
}
.filter-option ul{
  padding: 0;
  margin: 10px 0px;
  overflow: auto;
  white-space: nowrap;
  background: #f2f2f2;
}
.filter-option ul li,.filter-option ul li a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: #6c6c6c;
}
.filter-option ul li a:hover{
  color: #ff8000;
  cursor: pointer;
}

.price-filter button{
  width: 30px;
  height: 30px;
  border: none;
  margin-left: 10px;
  border-radius: 50%;
  -webkit-box-shadow: #6c6c6c 0px 2px 5px 0px;
  -moz-box-shadow: #6c6c6c 0px 2px 5px 0px;
  box-shadow: #6c6c6c 0px 2px 5px 0px;
  padding: 0;
}
.price-filter button:hover{
  background-color: #f2f2f2;
}
.price-filter button small{
  margin-left: 3px;
  color: #6c6c6c;
}
.price-filter input{
  border: none;
  background-color: #f9f9f9;
  border-bottom: 3px solid #b5b5b5;
  line-height: 25px;
  width: 100px;
  outline: none;
  padding-left: 10px;
  font-size: 15px;
  transition: all 0.5s ease;
}
.price-filter input:focus{
  background-color: #ffffff;
  border-bottom: 3px solid #ff8300;
}
.filter-open{
  display: block;
  height: auto;
  opacity: 1;
}
.filter-active{
  color: #ff8000 !important;
  font-weight: 600;
}
  .filter-active:after{
    content: '▼';
  }
.price-filter{
  padding: 15px;
  background-color: #f2f2f2;
}

.banner-side-nav ul{
  margin: 0;
  padding: 0;
}
.banner-side-nav ul li{
  list-style-type: none;
  margin-bottom: 5px;
  font-size: 1.2em;
}
.top-grid{
  width: 100%;
  display: block;
  color: #444;
}
.top-banner img {
    max-width: 100%;
}
.banner-side-nav {
    display: none;
    padding: 10px;
}
@media (min-width: 992px) {
  .top-grid{
    width: 100%;
    display: grid;
    grid-gap:0px 10px;
    grid-template-columns: calc(100% - 230px) 220px;
    grid-template-rows: 250px;
    background-color: #fff;
    color: #444;
  }
  .top-banner {
    width: 100%;
    height: 100%;
    grid-column: 1;
  }
  .top-banner img{
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  .banner-side-nav {
    grid-column: 2;
    display: block;
    background-color: #fff;
    width: 220px;
  }
}

.round-div{
  border-radius: 6px;
  background-color: #efefef;
  padding: 0 10px;
  max-width: 100%;
  min-width: 450px;
}
.round-sq-btn{
  border-radius: 5px;
  border: none;
  color: #6c6c6c;
}
.round-sq-btn:hover{
  color: #ffffff;
}
.c-table{
  border-collapse: collapse;
  margin-bottom: 10px;
}
.c-table th{
  background-color: #f2f2f2;
  color: #6c6c6c;
  border: none;
}
.c-table td {
  border: none;
  border-bottom: 1px solid #efefef;
}
.c-table .overflow-hidden {
  max-width: 0;
  min-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.c-table input[type="text"], .c-table input[type="number"] {
height: 30px;
border: none;
background-color: #ffffff;
padding-left: 10px;
border-left: 3px solid #6c6c6c;
}
.c-table input[type="text"]:focus, .c-table input[type="number"]:focus{
border-left: 3px solid #ff8000;
transition: all 0.5s ease;
}
.checkmark-btn{
  border: none;
  color: #6c6c6c;
}
.checkmark-btn:hover{
  color: #f2f2f2;
}
.c-table .s-cell {
  width: 50px;
}
.c-table .m-cell {
  width: 150px;
}
.c-table td#icon, .c-table td#icon span{
  width: 20px;
  font-size: 30px;
}
.remove-p-cart {
  color: #ff514c;
  cursor: pointer;
}
@media (min-width: 1200px) {
  .add-cart{
    padding: 0;
  }
}
.add-cart-btn {
  color: #ffffff;
  background-color: #ff8300;
  width: 100%;
  height: 40px;
  border: none;
  font-weight: 600;
  font-size: 1em;
}
.add-cart-btn:hover::after{
  content: '  +';
}
.add-cart-disabled {
  color: #6c6c6c;
  background-color: #efefef;
  width: 100%;
  height: 40px;
  border: none;
  font-weight: 600;
  font-size: 1em;
}
.msg-btn {
  width: 100%;
  height: 50px;
}
.msg-btn button{
  float: left;
  width: 33.33%;
  height: 100%;
  border: none;
  background-color: #f7f7f7;
  color: #6c6c6c;
}
.msg-btn button:hover{
  background-color: #ffffff;
}
.msg-btn-full {
  width: 100% !important;
  border: none !important;
}
.msg-btn button:nth-child(1n+2){
  border-left: 1px solid #b5b5b5;
}
.no-border{
  border: none !important;
}
.shipping-table td:first-child{
  width: 150px;
}
.shipping-table td:nth-child(2){
  width: 120px;
}
.shipping-table td{
  border: none;
}

