@charset "UTF-8";
* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, Athiti, sans-serif;
  height: 100%;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  position: relative;
  margin: 0;
  min-height: 100%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

button {
  font-family: Roboto, Athiti, sans-serif;
  outline: none !important;
  cursor: pointer;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: default;
}

#app {
  position: relative;
  margin: 0;
  min-height: 100%;
}

div, input {
  outline: none
}

footer {
  height: 100px
}

a {
  outline: none
}

label {
  display: inline-block;
  text-align: left;
  margin-bottom: 10px;
  color: #6c6c6c;
  font-weight: 600;
}

.has-error {
  color: #ff3333;
}

.help-block {
  margin-top: 10px;
  display: block;
}

.submit-group {
  width: 100%;
}

.checkbox {
  width: 100%;
}

.login-btn {
  font-size: 1em;
  position: relative;
  width: 100%;
  height: 30px;
  margin-top: 15px;
  background-color: #efefef;
  border: transparent;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.login-btn:hover {
  background-color: #ff992d;
  color: #ffffff;
}

.forgot-password {
  color: black;
  display: table;
  text-decoration: none;
  margin: 15px auto 0 auto;
}

.forgot-password:hover {
  color: #ff992d;
}

.thumbnail-grid {
  display: grid;
  width: 100%;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  justify-items: center;
}

.my-products-wrap {
  width: 160px;
  height: 200px;
  display: inline-block;
  position: relative;
  border: none;
}

.products-wrap {
  width: 160px;
  height: 160px;
  display: inline-block;
  border: 1px solid transparent;
}

.my-products-wrap form, .products-wrap form {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.product-name {
  display: none
}

.product-p {
  display: none
}

.products-img {
  position: relative;
  width: 160px;
  height: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.thumb-title {
  width: 100%;
  height: 40px;
  padding: 10px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
}

.thumb-title a {
  text-decoration: none;
  color: #ffffff;
}

@media (min-width: 768px) {
  .thumbnail-grid {
    display: grid;
    width: 100%;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-items: center;
  }
  .my-products-wrap {
    width: 200px;
    height: 360px;
    display: inline-block;
    position: relative;
    border: none;
  }
  .products-wrap {
    width: 200px;
    height: 300px;
    display: inline-block;
    border: 1px solid transparent;
  }
  .product-name {
    display: block;
    width: 180px;
    height: 41px;
    line-height: 20px;
    margin: 5px 0 2px 0;
    word-wrap: break-word;
    overflow: hidden;
  }
  .product-p {
    display: block;
    font-family: 'Roboto', 'Arial';
    font-size: .9em;
    line-height: 17px;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .products-img {
    position: relative;
    width: 200px;
    height: 200px;
  }
}

span.price {
  font-family: 'Roboto';
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  color: #fff;
  padding: 5px;
  bottom: 10px;
  left: 0;
}

span.thumb-price {
  font-family: 'Roboto';
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  color: #fff;
  padding: 5px;
  bottom: 10px;
  left: 0;
}

span.discount {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  background: #4aae2a;
  color: white;
  opacity: 0.8;
}

span.discount-price {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px;
  background: #4aae2a;
  color: white;
  opacity: 0.8;
}

span.caution, button.caution {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px;
  background: #fdc930;
}

span.private {
  position: absolute;
  padding: 4px;
  top: 5px;
  left: 5px;
  color: #6c6c6c;
  background-color: transparent;
}

span.shop {
  font-family: 'Roboto';
  background-color: rgba(0, 0, 0, 0.05);
  position: absolute;
  padding: 4px;
  top: 89px;
  left: 0;
  color: #167ac6;
}

@media (min-width: 768px) {
  span.private {
    padding: 4px;
    top: inherit;
    color: #fff;
    bottom: 4px;
    left: 0;
    background-color: #ff514c;
  }
  span.price {
    display: none
  }
  span.shop {
    display: none
  }
}

.products-img-thumb {
  width: 100%;
}

.pagination-wrap {
  width: 100%;
  height: 70px;
  padding: 12px;
}

.pagination {
  list-style-type: none;
  margin: 0;
}

.pagination li {
  float: left;
  padding: 8px;
  border: 1px solid #f2f2f2;
  text-decoration: none;
  font-size: 1.5em;
}

.pagination li a {
  text-decoration: none;
  color: #b5b5b5;
}

.pagination li a:hover {
  color: #ff8300;
  font-weight: bold;
}

.pagination li:hover {
  color: #ff8300;
  font-weight: bold;
}

.active {
  color: #ff8300 !important;
  font-weight: bold;
}

.shop-wrap {
  float: left;
  height: 100px;
  width: calc(100% - 200px);
  padding: 10px;
}

.following-btn-wrap {
  height: 40px;
  float: right;
  margin: 30px 0px;
}

.shop-description {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 10px;
}

/*ERROR*/

.error-heading {
  padding: 10px 15px 10px 15px;
  background-color: transparent;
}