button{
    font-family: Arial, sans-serif;
    outline: none;
    cursor: pointer;
}
a {
  outline: none;
}
.not-display{display: none;}
/*INPUT*/
.s-input{
height: 40px;
width: 80px;
border: none;
background-color: #f2f2f2;
padding-left: 10px;
outline: none;
font-size: 15px;
}
.s-input:focus{
    background-color: rgba(242, 242, 242, 0.5);
    transition: all 0.5s ease;
}
.s-select{
outline: none;
height: 40px;
width: 80px;
font-size: 18px;
}

/*Button*/
.btn {
  border: transparent;
  color: #6c6c6c;
  font-size: 15px;
  background: #efefef;
  padding: 10px 20px;
  text-decoration: none;
  box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  color: #ffffff;
  background: #bebebe;
}
.danger-btn {
  border:transparent;
  color: #333333;
  font-size: 15px;
  background: #ff514c;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.danger-btn:hover {
  color: #ffffff;
  background: #fb4742;
  padding: 10px 20px 10px 20px;
}
.delete-btn {
    border: none;
    color: #ffffff;
    font-size: 15px;
    background: rgba(254, 71, 71, 0.79);
    padding: 10px;
}
.delete-btn:hover{
      background: rgb(240, 56, 56);
}
.edit-btn {
    border: none;
    color: #ffffff;
    font-size: 15px;
    background: rgba(89, 89, 89, 0.5);
    padding: 10px;
}
.edit-btn:hover{
    background: rgba(139, 139, 139, 0.5);
}
.vote-btn {
  text-decoration: none;
  color: #b3b3b3;
}
.round-btn{
  border-radius: 50px;
  width: 40px;
  height: 40px;
  border: none;
}
.round-btn span, .round-btn small{
  color: #ffffff;
}
.vote-btn:hover {color: #e43727;}
.vote-btn-voted{color: #e43727;}
/*Properties*/
.absolute {position: absolute;}
.margin-bot-10px{margin-bottom: 10px;}
.margin-top-10px{margin-top: 10px;}
.margin-left-10px{margin-left: 10px;}
.no-margin{margin: 0;}
.float-left {float: left;}
.float-right {float: right;}
.font-light{font-weight: 200;}
.font-medium{font-weight: 400;}
.font-bold{font-weight: 600;}
.font-large{font-size: large;}
.grey-font{color: #6c6c6c}
.red-bg {background-color: #fe4747;}
.red-font {color: #fe4747;}
.green-bg {background-color: #4aae2a;}
.green-font {color: #4aae2a;}
.link-text {
    color: #167ac6;
    text-decoration: none;
    font-size: 1em;
    font-weight: 400;
}
.link-text:hover {
    color: #0a92f9;
}
.flex {
	flex-shrink: 0;
	display: flex;
	-ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    justify-content: center;
}
@media (min-width: 768px){
  .flex{justify-content: flex-start;}
}

.overflow-hidden{
  overflow: hidden;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}
.overlay-open {
    width: 100%;
    opacity: 1;
}
#full-line{
  width: 100%;
  border-bottom: 1px solid #efefef;
}
.opacity-toggled {
  opacity: 1 !important;
}
.height-toggled {
  height: 100% !important;
}
/* Validate */
input.is-error{
  border-bottom: 3px solid red;
}
.span-error {
  margin-top: 10px;
  color: red;
}
/*Animate*/
.slide-down-enter-active, .slide-down-leave-active {
  transition: all 0.5s ease;
  height: 260px;
}
.slide-down-enter, .slide-down-leave-to{
  opacity: 0;
  height: 0px;
}
.slide-down-reply-enter-active, .slide-down-reply-leave-active {
  transition: all 0.5s ease;
  height: 90px;
}
.slide-down-reply-enter, .slide-down-reply-leave-to{
  opacity: 0;
  height: 0px;
}
.opacity-enter-active, .opacity-leave-active {
  transition: all 0.5s ease;
  opacity: 1;
}
.opacity-enter, .opacity-leave-to{
  opacity: 0;
}
.slide-down-input-enter-active, .slide-down-input-leave-active {
  transition: all 0.5s ease;
  height: 68px;
}
.slide-down-input-enter, .slide-down-input-leave-to{
  opacity: 0;
  height: 0px;
}
.slide-down-col-enter-active, .slide-down-col-leave-active {
  transition: all 0.5s ease;
  height: 50px;
}
.slide-down-col-enter, .slide-down-col-leave-to{
  opacity: 0;
  height: 0px;
}
.slide-down-height-enter-active, .slide-down-height-leave-active {
  transition: all 0.5s ease;
  height: auto;
}
.slide-down-height-enter, .slide-down-height-leave-to{
  opacity: 0;
  height: 0px;
}
.slide-down-showcase-enter-active, .slide-down-showcase-leave-active {
  transition: all 0.5s ease;
  height: 175px;
}
.slide-down-showcase-enter, .slide-down-showcase-leave-to{
  opacity: 0;
  height: 0px;
}
@media (min-width: 768px) {
  .current-contact td input{
    width: calc(100% - 100px);
  }
}
.current-contact td input:focus{
  transition: all 0.5s ease;
  border-left: 3px solid #ff8300;
}
