
.nav-container {
	display: block;
	width: 90%;
	height: 50px;
    margin: 0 auto;
}
@media (min-width: 768px) {
	.nav-container {
		width: 750px;
		    margin: 0 auto;
	}
}
@media (min-width: 992px) {
	.nav-container {
		width: 970px;
		    margin: 0 auto;
	}
}
@media(min-width: 1200px) {
	.nav-container {
		width: 95%;
		    margin: 0 auto;
	}
}
.fixed-nav-bar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
}
.navbar {
	width: 100%;
	height: 50px;
	padding: 0px;
	background-color: white;
	border-bottom: 1px solid #eeeeee;
	display: block;
}
.login-box {
	display: none;
}
@media (min-width: 768px) {
	.login-box {
		display: flex;
		position: relative;
		width: auto;
		height: 50px;
		float: right;
	}
}
.login-box li {
	display: inline-block;
	list-style: none;
	margin: 16px 0px 10px 30px;
}
.login-box li a {
	text-decoration: none;
	color: #b5b5b5;
}
.login-box li a:hover {
	color: #ff992d;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-btn {
	background-color: #ffffff;
	color: #b5b5b5;
	width: auto;
	height: 48px;
	padding: 16px;
	font-size: 16px;
	cursor: pointer;
	border: none;
	outline: none;
	margin-left: 20px;
	font-family: 'Kanit', sans-serif;
}
.dropdown-btn:hover {
	background-color: #f7f7f7;
}
.dropdown-btn:focus {
	background-color: #f7f7f7;
}
.dropdown-name {
	width: 240px;
	color: #6c6c6c;
	background-color: #efefef;
	padding: 12px 16px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: bold;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #ffffff;
	margin-top: 50px;
	min-width: 240px;
	box-shadow: 0px 5px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 20px 2px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(178, 178, 178, 0.4);
	z-index: 1;
	right: 0;
}
.dropdown-content a {
	color: #6c6c6c;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropdown-content a:hover {
	background-color: #f7f7f7;
}
.show-dropdown {
	display: block;
}
.arrow-down {
	font-size: 10px;
}
.side-menu-btn {
	float: left;
	width: 30px;
	height: 20px;
	margin-top: 13px;
	position: relative;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
}
.side-menu-btn span {
	display: block;
	position: absolute;
	height: 5px;
	width: 100%;
	background: #b5b5b5;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}
.side-menu-btn span:nth-child(1) {
	top: 0px;
}
.side-menu-btn span:nth-child(2), .side-menu-btn span:nth-child(3) {
	top: 9px;
}
.side-menu-btn span:nth-child(4) {
	top: 18px;
}
.side-menu-btn.open span:nth-child(1) {
	background: #ff992d;
	top: 18px;
	width: 0%;
	left: 50%;
}
.side-menu-btn.open span:nth-child(2) {
	background: #ff992d;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.side-menu-btn.open span:nth-child(3) {
	background: #ff992d;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.side-menu-btn.open span:nth-child(4) {
	background: #ff992d;
	top: 18px;
	width: 0%;
	left: 50%;
}
.main-logo {
	background: url("https://s3-ap-southeast-1.amazonaws.com/images.closet.com/logo1.png");
	width: 100px;
	height: 50px;
	padding: 0;
	margin: 0 auto;
	float: none;
}
.main-logo a {
	width: 100%;
	display: block;
	height: 50px;
}
.search-form {
	display: none;
}
@media (min-width: 768px) {
	.main-logo {
	margin-left: 30px;
	float: left;
}
	.search-form {
		display: block;
		position: absolute;
	    float: left;
	    margin-left: 180px;
	}
}

.search-input {
	line-height: 27px;
    border: 1px solid #b5b5b5;
    width: 350px;
    outline: none;
    padding-left: 10px;
    margin-top: 3px;

}
.search-input:focus{
	border:1px solid #1c62b9;
}
.search-btn{
    position: relative;
    top: 9px;
    width: 64px;
    height: 31px;
    margin-left: -4px;
    background-color: white;
    border: 1px solid #b5b5b5;
    border-left: none;
}
.search-btn:hover{
	border: 1px solid #b5b5b5;
	background-color: #f2f2f2;
	color: #b5b5b5;
	border-left: none;
}
.tt-open{
	background-color: white;
	border:1px solid #b5b5b5;
	width: 100%;
	height: auto;
}
.tt-p{
	margin: 0;
    padding: 5px 10px;
}
.tt-p:hover{
	cursor: pointer;
	background-color: #f2f2f2;
}
