.product-title {
    font-size: 1.3em;
    color: #262626;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.product-showcase {
    background-color: transparent;
    width: 100%;
    height: 100%;
    margin: 0 15px 15px 15px;
}
.product-details {
    width: 100%;
    height: auto;
}
.details-header {
    width: 100%;
    height: 70px;
    padding: 10px 15px;
    border-bottom: .5px solid #efefef;
}
.details-header-sub {
    width: 100%;
    height: 45px;
    border-bottom: .5px solid #efefef;
}
.follow-btn-wrapper{
    float: right;
    height: 100%;
    width: 100px;
    z-index: 1500;
}
.follow-btn-wrap{
    float: right;
    height: 100%;
    width: 100%;
    z-index: 1500;
}
.follow-btn {
    height: 100%;
    width: 100%;
    color: #ffffff;
  background: #ff8300;
  border: transparent;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
    outline: none;

}
.unfollow-btn {
    height: 100%;
    width: 100%;
    color: black;
    background: #f2f2f2;
    border: transparent;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
        outline: none;
}
.vote {
    width: 120px;
    height: 24px;
    font-size: 20px;
    padding: 10px 15px;
    float: left;
}
#col-add{
    float: right;
    position: relative;
    display: inline-block;
}

.add-to-col{
    font-weight: 600;
    background-color: #ffffff;
    height: 45px;
    color: #6c6c6c;
    padding: 0px 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    outline: none;
    border-bottom: 1px solid #efefef;
}
.add-to-col-active{
    background-color: #efefef;
}
.col-add{
    position: absolute;
    background-color: #ffffff;
    min-width: 240px;
    box-shadow: 0px 5px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 20px 2px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(178, 178, 178, 0.4);
    z-index: 1;
    right: 0;
}
.col-add ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    max-height: 210px;
    overflow-y: auto;
    overflow-x: hidden;
}
.col-add li{
    list-style-type: none;
}

.col-add ul li a{
    cursor: pointer;
    color: #6c6c6c;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.col-add ul li a:hover{
    background-color: #f7f7f7;
}
.added{
    background-color: #f7f7f7;
}
.added::after{
    content: " \ea10";
    font-family: 'icomoon' !important;
    line-height: 1px;
}
.thumb {
    position: absolute;
    width: 280px;
    line-height: 50px;
    height: 50px;
}
.shop-name {
    font-size: 1.2em;
    vertical-align: top;
    padding-left: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #262626;
}
.shop-name:hover {
    color: #167ac6;
}
.shop-name-wrap {
    width: 180px;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tab-content {
    display: none;
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    height: auto;
    background-color: #fff;
}
.tab-content.current{
    display: inherit;
}
.comments-header{
    width: 100%;
    height: 55px;
    padding: 1px 15px;
    border-bottom: 1px solid #efefef;
}
.product-show-panel {
    width: 100%;
    margin: 0 auto;
    height: auto;
    background-color: #fff;
}
.comments-thumb{
	width: 40px;
float: left;
margin-right: 10px;
}
.comments-body{
	width: calc(100% - 50px);
	display: inline-block;
}
.comment{
  font-family: 'Arial';
	word-wrap: break-word;
	margin: 5px 0px;
}
/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .product-show-panel { width: 768px;}
    .product-showcase {
        width: 380px;
        margin:0;
    }
    .product-details {
        width: 388px;
    }
}
/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .product-show-panel {
    width: 900px;
}
    .product-showcase {
        width: 445px;
        margin: 0 15px 15px 15px;
    }
    .product-details {
        width: 410px;
        margin-right: 15px;
    }
}
/* Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .product-show-panel {
    width: 1024px;
}
    .product-showcase {
        width: 535px;
        margin: 0 15px 15px 15px;
    }
    .product-details {
        width: 426px;
        margin-left: 9px;
        margin-right: 24px;
    }
}
