/*Second Nav */

.second-nav {
	position: relative;
	width: 100%;
	margin-top: 50px;
	height: 40px;
	background-color: white;
	border-bottom: 1px solid #eeeeee;
	margin-bottom: 20px;
}
.second-nav-cont {
    display: flex;
    width: 100%;
    height: 40px;
    margin: 0 auto;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
    justify-content: space-between;
}
@media (min-width: 768px) {
	.second-nav-cont {
    display: flex;
    width: 500px;
    height: 40px;
    margin: 0 auto;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
    justify-content: space-between;
	}
}
#second-nav-link {
	width: 20%;
	height: 40px;
}
#second-nav-link a {
	display: table;
	text-align: center;
	text-decoration: none;
	color: black;
	vertical-align: middle;
	line-height: 37px;
	margin: 0 auto;
}
#second-nav-link a:hover {
	color: #ff8000;
	border-bottom: 2px solid #ff8000;
}
#second-nav-link a:focus {
	border-bottom: 2px solid #ff8000;
}

/*Side bar */

.left-side-menu {
	position: fixed;
	height: 100%;
	width: 0;
	left: 0;
	background-color: white;
	border-right: 1px solid #efefef;
	top: 50px;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 9999;
}
.toggled{
	width: 100%;
}
@media (min-width: 768px) {
	.left-side-menu {
	position: fixed;
	height: 100%;
	width: 0;
	background-color: white;
	border-right: 1px solid #efefef;
	top: 50px;
	z-index: 9999;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	}
	.toggled{
	width: 240px;
	}
}
.scroll-bar {
  overflow-y: auto;
}
.left-side-menu::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}
.left-side-menu::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}
.left-side-menu::-webkit-scrollbar-thumb {
	background: #ff8000;
	border: 0px none #ffffff;
	border-radius: 0px;
}
.left-side-menu::-webkit-scrollbar-thumb:hover {
	background: #ff8000;
}
.left-side-menu::-webkit-scrollbar-thumb:active {
	background: #ff8000;
}
.left-side-menu::-webkit-scrollbar-track {
	background: #ffffff;
	border: 0px none #ffffff;
	border-radius: 0px;
}
.left-side-menu::-webkit-scrollbar-track:hover {
	background: #ffffff;
}
.left-side-menu::-webkit-scrollbar-track:active {
	background: #ffffff;
}
.left-side-menu::-webkit-scrollbar-corner {
	background: transparent;
}
.sub-left-menu {
	position: relative;
	width: 100%;
	height: calc(100% - 50px);
	padding: 18px;
	display: block;
}
.sub-left-menu a {
	overflow: hidden;
	font-size: 1.2em;
	color: #6c6c6c;
	padding: 10px 0px 10px 12px;
	text-decoration: none;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.sub-left-menu a:hover {
	background-color: #f7f7f7;

}
#cat {
	overflow: hidden;
	font-size: 1.2em;
	color: #ff8000;
	margin: 5px 0px 5px 0px;
	padding: 10px 0px 0px 12px;
	display: block;
	text-decoration: underline;
}
#cat:hover {
	text-decoration: underline;
	background-color: transparent;
}
#alt-cat{
    overflow: hidden;
    font-size: 1.2em;
    color: #6c6c6c;
    font-weight: 600;
    margin: 0;
    padding: 10px 0 10px 12px;
    text-decoration: none;
    display: block;
}
.sub-menu-search-bar{
	display: block;
	width: 100%;
	height: 70px;
}
.sub-search-input {
	line-height: 54px;
    border: 1px solid #b5b5b5;
    width: calc(100% - 50px);
    outline: none;
    padding-left: 10px;
    font-size: 1.2em;
}
.sub-search-btn{
    width: 55px;
    height: 58px;
    border: 1px solid #b5b5b5;
    border-left: none;
    position: absolute;
    background-color: #f2f2f2;
    font-size: 1.2em;
    color: #858589;
}
.lang-input{
	width: 100%;
	font-size: medium;
	height: 40px;
	outline: none;
	padding: 5px;
}
@media (min-width: 768px) {
	.sub-menu-search-bar{display: none;}
	.sub-left-menu {
	position: relative;
	width: 192px;
	margin: 10px 24px 0px 24px;
	padding: 0;
	}
	.sub-left-menu a {
	font-size: 1em;
	}
	#cat {
	font-size: 1em;
	color: #ff8000;
	text-decoration: none;
	}
	#alt-cat {
	font-size: 1em;
	color: #6c6c6c;
	text-decoration: none;
	}
	.lang-input{
		width: 100%;
	}
}
