.round-div{
  border-radius: 6px;
  background-color: #efefef;
  padding: 0 10px;
  max-width: 100%;
  min-width: 450px;
}
.round-sq-btn{
  border-radius: 5px;
  border: none;
  color: #6c6c6c;
}
.round-sq-btn:hover{
  color: #ffffff;
}
.c-table{
  border-collapse: collapse;
  margin-bottom: 10px;
}
.c-table th{
  background-color: #f2f2f2;
  color: #6c6c6c;
  border: none;
}
.c-table td {
  border: none;
  border-bottom: 1px solid #efefef;
}
.c-table .overflow-hidden {
  max-width: 0;
  min-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.c-table input[type="text"], .c-table input[type="number"] {
height: 30px;
border: none;
background-color: #ffffff;
padding-left: 10px;
border-left: 3px solid #6c6c6c;
}
.c-table input[type="text"]:focus, .c-table input[type="number"]:focus{
border-left: 3px solid #ff8000;
transition: all 0.5s ease;
}
.checkmark-btn{
  border: none;
  color: #6c6c6c;
}
.checkmark-btn:hover{
  color: #f2f2f2;
}
.c-table .s-cell {
  width: 50px;
}
.c-table .m-cell {
  width: 150px;
}
.c-table td#icon, .c-table td#icon span{
  width: 20px;
  font-size: 30px;
}
.remove-p-cart {
  color: #ff514c;
  cursor: pointer;
}
@media (min-width: 1200px) {
  .add-cart{
    padding: 0;
  }
}
.add-cart-btn {
  color: #ffffff;
  background-color: #ff8300;
  width: 100%;
  height: 40px;
  border: none;
  font-weight: 600;
  font-size: 1em;
}
.add-cart-btn:hover::after{
  content: '  +';
}
.add-cart-disabled {
  color: #6c6c6c;
  background-color: #efefef;
  width: 100%;
  height: 40px;
  border: none;
  font-weight: 600;
  font-size: 1em;
}
.msg-btn {
  width: 100%;
  height: 50px;
}
.msg-btn button{
  float: left;
  width: 33.33%;
  height: 100%;
  border: none;
  background-color: #f7f7f7;
  color: #6c6c6c;
}
.msg-btn button:hover{
  background-color: #ffffff;
}
.msg-btn-full {
  width: 100% !important;
  border: none !important;
}
.msg-btn button:nth-child(1n+2){
  border-left: 1px solid #b5b5b5;
}
.no-border{
  border: none !important;
}
.shipping-table td:first-child{
  width: 150px;
}
.shipping-table td:nth-child(2){
  width: 120px;
}
.shipping-table td{
  border: none;
}
