%font-size-15
  font-size: 15px

%btn-shadow
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2)

%btn-shadow-2
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6)

%btn-radius
  border-radius: 3px

%white-font
  color: #fff

button.normal-sq
  height: 40px
  padding: 0 15px

button.default
  @extend %btn-shadow
  @extend %btn-radius
  color: #6c6c6c
  background: #efefef
  padding: 10px

.orange-btn
  @extend %btn-shadow
  @extend %btn-radius
  @extend %white-font
  background-color: #ff8000
  &:hover
    background: #f57d05

.green-btn
  @extend %btn-shadow
  @extend %white-font
  background: #4aae2a
  padding: 10px

.delete-btn
  @extend %white-font
  background: #ff514c
  padding: 10px
  &:hover
    filter: brightness(90%)

.delete-btn
  span,small,i
    margin-left: 2px

.help-btn
  @extend %btn-shadow
  @extend %btn-radius
  @extend %white-font
  background: #3fa9f5
  &:hover
    background-color: #1782cf

.help-btn
  span,small,i
    margin-left: 2px

.add-btn
  @extend %white-font
  background: #4aae2a

.edit-btn
  @extend %white-font
  background: #b8b8b8
  padding: 10px

.flat-btn
  color: #6c6c6c
  background-color: transparent
  font-size: 1.2em
  &:hover
    color: #ff8000

span.contact-btn, small.contact-btn
  position: relative
  cursor: pointer
  -moz-background-clip: border
  -moz-background-inline-policy: continuous
  -moz-background-origin: padding
  font-size: 1.8em
  top: 10px

span.contact-btn.instagram, small.contact-btn.instagram
  background: #d6249f
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%)
  border-radius: 15px
  color: #fff

span.contact-btn.facebook, small.contact-btn.facebook
  color: #316fbb

span.contact-btn.youtube, small.contact-btn.youtube
  color: #f00

span.contact-btn.phone, small.contact-btn.phone
  color: #34a853

span.contact-btn.mail, small.contact-btn.mail
  color: #4285f4

span.contact-btn.twitter, small.contact-btn.twitter
  color: #41abe1

span.contact-btn.website, small.contact-btn.website
  color: #167ac6

span.contact-btn.line, small.contact-btn.line
  color: #4ecd00

.round-btn
  @extend %btn-shadow
  border-radius: 50%
  width: 40px
  height: 40px
  span, small
    @extend %white-font

.contact-btn
  span, small
    @extend %white-font

.vote-btn
  color: #b3b3b3
  background: transparent

.vote-btn:hover, .vote-btn-voted
  color: #e43727
