@import "variable"
#full-line
  border-bottom: 1px solid #eee

.btn-active
  color: $orange

.full-width
  width: 100% !important

.half-width
  width: 50% !important

.full-height
  height: 100% !important

.absolute
  position: absolute !important

.relative
  position: relative !important

.margin-bot-10px
  margin-bottom: 10px !important

.margin-top-10px
  margin-top: 10px !important

.margin-left-10px
  margin-left: 10px !important

.padding-30-horizontal
  padding: 0 30px

.padding-30-vertical
  padding: 30px 0

.padding-30-top
  padding-top: 30px

.padding-30-bottom
  padding-bottom: 30px

.padding-30-left
  padding-left: 30px

.padding-30-right
  padding-right: 30px

.padding-15-horizontal
  padding: 0 15px

.padding-15-vertical
  padding: 15px 0

.padding-15-top
  padding-top: 15px

.padding-15-bottom
  padding-bottom: 15px

.padding-15-left
  padding-left: 15px

.padding-15-right
  padding-right: 15px

.no-margin
  margin: 0 !important

.float-left
  float: left !important

.float-right
  float: right !important

.align-top
  position: absolute
  top: 0

.align-bottom
  position: absolute
  bottom: 0

.align-top-right
  position: absolute
  top: 5px
  right: 5px

.align-top-left
  position: absolute
  top: 5px
  left: 5px

.align-bot-right
  position: absolute
  bottom: 5px
  right: 5px

.align-bot-left
  position: absolute
  bottom: 5px
  left: 5px

.align-right
  position: relative
  text-align: right

.align-left
  position: relative
  text-align: left

.flex
  display: -webkit-box
  display: -ms-flexbox
  display: -webkit-flex
  display: flex

.flex-between
  justify-content: space-between
  
.flex-start
  justify-content: flex-start

.red-bg
  background-color: #fe4747 !important

.green-bg
  background-color: #4aae2a !important

.orange-bg
  background-color: #ff8000 !important

.grey-bg
  background-color: #eee !important
