%container
  border-radius: 5px
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2)
  background: #efefef

.search-form
  display: none
  z-index: 1
  height: 2000px
  background: rgba(0, 0, 0, 0.5)
  padding: 30px 20px
  form
    padding: 9px 0 0 0

.search-input
  border-radius: 5px
  font-size: 1.2em
  line-height: 27px
  border: 1px solid #b5b5b5
  height: 35px
  width: 100%
  outline: none
  padding-left: 10px
  margin-top: 4px
  &:focus
    border-color: rgba(255, 128, 0, 0.8)
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6)
    outline: 0 none
    transition: 0.5s all ease

.search-btn
  display: none
  position: relative
  width: 64px
  height: 31px
  background-color: white
  border: 1px solid #b5b5b5
  border-left: none
  color: #6c6c6c
  background-color: #f9f9f9
  vertical-align: top
  margin-left: -5px
  &:hover
    border: 1px solid #b5b5b5
    background-color: #fff
    color: #ff8300
    border-left: none

.algolia-autocomplete
  width: 100%
  .aa-hint
    color: #999
  .aa-dropdown-menu
    width: 100%
    background-color: #fff
    border: 1px solid #999
    border-top: none
    .aa-suggestion
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
      font-size: 1.2em
      cursor: pointer
      padding: 12px 4px
      &.aa-cursor
        background-color: #B2D7FF
      em
        font-weight: bold
        font-style: normal

@media (min-width: 768px)
  .search-form
    display: block
    position: absolute
    margin-left: 180px
    height: auto
    background: transparent
    padding: 0
  .search-btn
    display: inline-block
  .search-input
    border-radius: 0
    font-size: 1em
    height: 31px
    width: 300px
    &:focus
      border: 1px solid #1c62b9
  .algolia-autocomplete
    width: 300px
    .aa-dropdown-menu
      .aa-suggestion
        font-size: 1em
        padding: 5px 4px

@media (min-width: 992px)
  .search-form
    margin-left: 200px
  .search-input
    width: 350px
  .algolia-autocomplete
    width: 350px

.filter
  ul
    @extend %container
    overflow: auto
    white-space: nowrap
    padding: 15px
    margin: 10px 0
  ul li
    text-decoration: none
    display: inline-block
    padding: 5px
    background: #fff
    margin-right: 10px
    border-radius: 5px
  ul li
    font
      cursor: pointer
      color: #1782cf
    font:hover,font:focus
      color: #3fa9f5
  .price
    @extend %container
    margin-top: 10px
    padding: 10px
    input
      border: none
      line-height: 30px
      padding-left: 8px
      font-size: 1em
  .breadcrumb
    @extend %container
    padding: 10px
    background: transparent
    text-decoration: none

@media (min-width: 768px)
  .filter
    ul, ul li, .price
      border-radius: 0
      box-shadow: none
    ul, ul li
      background: transparent
      border-radius: 0
    .breadcrumb
      border-radius: 0
  .filter
    display: flex
    flex-direction: row
    flex-wrap: wrap
    margin: 0
    .categories
      width: 100%
      background: #f9f9f9
    ul
      width: 33.33%
      overflow: auto
      white-space: nowrap
      padding: 15px
      margin: 1%
      font-size: 1.2em
    ul li
      text-decoration: none
      display: block
      padding: 5px
      margin-right: 0
    ul li
      font
        cursor: pointer
        color: #1782cf
      font:hover,font:focus
        color: #3fa9f5
    .price
      margin-top: 20px
      width: 100%
      margin: 0
      padding: 10px
      input
        border: none
        line-height: 30px
        padding-left: 8px
        font-size: 1em
    .breadcrumb
      width: 100%
      padding: 10px
      text-decoration: none

.clicked
  color: #ff8000
