.thumbnail-grid
  display: grid
  width: 100%
  grid-gap: 10px
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr))
  justify-items: center

.my-products-wrap
  width: 160px
  height: 200px
  display: inline-block
  position: relative
  border: none

.products-wrap
  width: 160px
  height: 160px
  display: inline-block
  border: 1px solid transparent

.my-products-wrap form, .products-wrap form
  position: absolute
  bottom: 0
  width: 100%

.carousel-thumb-wrap
  position: relative
  overflow: hidden
  margin-left: 3px

.products-img-thumb
  width: 100%

.product-name, .product-p
  display: none

.products-img
  position: relative
  width: 160px
  height: 160px
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.thumb-title
  box-sizing: border-box
  width: 100%
  height: 40px
  padding: 10px
  overflow: hidden
  position: absolute
  text-overflow: ellipsis
  white-space: nowrap
  top: 0
  background: rgba(0, 0, 0, 0.3)
  a
    text-decoration: none
    color: #ffffff

@media (min-width: 768px)
  .thumbnail-grid
    display: grid
    width: 100%
    grid-gap: 10px
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr))
    justify-items: center
  .my-products-wrap
    width: 200px
    height: 360px
    display: inline-block
    position: relative
    border: none
  .products-wrap
    width: 200px
    height: 300px
    display: inline-block
    border: 1px solid transparent
  .product-name
    display: block
    width: 180px
    height: 41px
    line-height: 20px
    margin: 5px 0 2px 0
    word-wrap: break-word
    overflow: hidden
  .product-p
    display: block
    font-size: .9em
    line-height: 17px
    margin: 0
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap
  .products-img
    position: relative
    width: 200px
    height: 200px

span
  &.price, &.thumb-price
    font-family: 'Roboto'
    background-color: rgba(0, 0, 0, 0.5)
    position: absolute
    color: #fff
    padding: 5px
    bottom: 10px
    left: 0
  &.discount
    position: absolute
    top: 0
    right: 0
    padding: 5px
    background: #4aae2a
    color: white
    opacity: 0.8
  &.discount-price
    position: absolute
    bottom: 0
    left: 0
    padding: 5px
    background: #4aae2a
    color: white
    opacity: 0.8
  &.caution
    position: absolute
    top: 5px
    right: 5px
    padding: 5px
    background: #fdc930

button.caution
  position: absolute
  top: 5px
  right: 5px
  padding: 5px
  background: #fdc930

span
  &.private
    position: absolute
    padding: 4px
    top: 5px
    left: 5px
    color: #6c6c6c
    background-color: transparent
  &.shop
    font-family: 'Roboto'
    background-color: rgba(0, 0, 0, 0.05)
    position: absolute
    padding: 4px
    top: 89px
    left: 0
    color: #167ac6

@media (min-width: 768px)
  span
    &.private
      padding: 4px
      top: inherit
      color: #fff
      bottom: 4px
      left: 0
      background-color: #ff514c
    &.price, &.shop
      display: none
